
* {
	padding: 0;
	margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

@mixin transition {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

@mixin hide-text {
    overflow:hidden;
    text-indent:-9000px;
}

@mixin breakpoint($point) {
   @if $point == wide {
     @media (min-width: $screen-wide-min) { @content ; }
  }
   @else if $point == desktop {
     @media (min-width: $screen-desktop-min) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: $screen-tablet-min) { @content ; }
  }
   @else if $point == handheld {
     @media (min-width: $screen-handheld-min)  { @content ; }
  }
}
.container-full {
  width: 100%;
}
.container {
	margin: 0 auto !important;
}

.wrap {
	.content.wrapper { 
		margin-top:100px;
		margin-bottom:100px;
	}
}
.home .wrap .content.wrapper {
	margin-top:0;
	margin-bottom:0;
}

.home .wrap {
	top:0;
	margin-bottom:0;
}
img {
	max-width:100%;
	height:auto;
}
.divider {
	width:50%;
	height:5px;
}
.button {
	font-size:14px;
	font-family:$font-header;
	font-weight:400;
	text-transform:uppercase;
	text-decoration:none;
	padding:10px 25px;
	//default colors are overwritten for individual buttons
	background:$black;
	color:$white;
	&:hover {
		background:$blue;
		color:$white;
		text-decoration:none;
	}
}
@mixin white-button {
	background:$white;
	color:$black;
	@extend .button;
}
body {
	color: $black;
	font-family: $font-body;
}

body, p {
	font-size:16px;
}

a {
  color: $blue;
  &:hover {
	  color:$green;
  }
}

p {
	line-height:1.6em;
	margin:2em 0;
}

h1, h2, h3, h4 {
  font-family: $font-header;
  font-weight:700;
  a {
  	text-decoration: none;
  }
}
h1 {
	text-transform: uppercase;
}
h2 {
	font-size:24px;
	line-height:28px;
}
h3 {
	font-size:18px;
	line-height:22px;
	color:$med-grey;
}

ul, ol {
	padding-left:60px;
}

.inline-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
				
	li {
		display:inline-block;
		vertical-align:top;
	}
}


//pages and posts formatting
//General page styles
.page-header {
	border:none;
}
.page-content,
article .entry-content,
section.comments {
	width:55%;
	margin:0 auto;
	@media (max-width: $screen-tablet-min) {
		width:75%;
	}
	@media (max-width: $screen-handheld-min) {
		width:100%;
		//padding:0 15px;
	}
}
.page-template-contact .page-content {
	width:100% !important;
}