

//Homepage
.home {
	background:$grey;
	
	.gridder {
		
		/*background:$white;*/
		margin:3.125em 0;
		
		.callout {
			background-repeat:no-repeat;
			&.right {
				background-position:150% center;
			}
			&.left {
				background-position:left;
			}
			@media (max-width: $screen-handheld-min) {
				background-image:none !important;
			}
		}
		.callout-copy {
			padding:3em 2em;
			background:$white;
			h2 {
				margin-bottom:2em;
				margin-top:0;
			}
		}
		.callout-image {
			@include hide-text;
		}
		.button {
			@include transition;
			display:inline-block;
		}
		
		.callout-copy {
			text-align:center;
		}
		
	}
	
	.twitter {
		background:$white;
		
		.follow {
			margin-bottom:40px;
		}
		
		.container {
			padding-top:60px;
			padding-bottom:60px;
		}
		.divider {
			@extend .divider;
			background:$blue;
			margin-bottom:30px;
		}
		h2 {
			margin-top:40px;
			@media (max-width: $screen-tablet-min) {
				margin-top:0;
			}
		}
		.widget {
			h3 {
				@extend h2;
			}
			ul {
				@extend .inline-list;
				
				li {
					
					width:50%;
					
					@media (max-width: $screen-handheld-min) {
						width:100%;
					}
					.tweet-text {
						display:block;
						padding-right:30px;
					}	
				}
			}
		}
	}
}

/* partners logos, for partner footer, see footer.scss */
.partners {
		
	h3 {
		font-weight:400;
		text-transform:uppercase;
	}
	
	ul.partner-listing {
		@extend .inline-list;
		li {
			border:1px solid $grey;
			opacity:0.5;
			a {
				@include transition;
				&:hover {
					/*opacity:1;*/
				}
			}
		}
	}
}


//Tstimonials page (also appears on homepage)

.home .testimonials {
	.item {
		width:100%;
		margin-top:0;
	}
}
.testimonials {
		
	.item {
		margin-top:60px;
		width:33%;
		display: inline-block;
		@media (max-width: $screen-tablet-min) {
			width:50%;
		}
		
		@media (max-width: $screen-handheld-min) {
			width:100%;
		}
		vertical-align: top;
		padding:0 15px;
		@media (max-width: $screen-tablet-min) {
			padding:3.125em 15px;
		}
		text-align:center;
		img {
			-webkit-border-radius:50%;
			border-radius: 50%;
		}
		.name {
			margin-top:1em;
		}
		.name, .title, .company-name, .involvement {
			h2, h3 {
				margin:0;
				line-height:22px;
			}
		}
	}
}


//Pages sub nav
ul.subnav {
	@extend .inline-list;
	li {
		padding:0 15px 15px 0;
		a {
			color:$med-grey;
			font-family:$font-header;
			font-weight:400;
			padding:0;
			
			&:hover {
				background:none;
			}
		}
		&.current_page_item {
			a {
				color:$black;
			}
		}
	}
}

